@use "variables" as v;

// CONTACTO GRID
.titulocontacto {
    text-align: center;
}

// Formulario centrado y organizado
.contformulario {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.formulariogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(21, 226, 117);
    border-radius: 8px;

    form {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}