@use "variables" as v;

.galeriajuegos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

    img:hover {
        transform: scale(1.05);
    }
}

// GRID
.gridgaleria {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    position: relative;
}

.mas{
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center;
}

.titulojuego{
    font-family: v.$fuente-principal;
    font-size: larger;
    color: v.$color-h1;
}

.descripciongaleria{
    text-align: justify;
}

@include v.mobile {

  .galeriajuegos {
    text-align: center;
    .titulojuego {
      font-size: xx-small;
    }

    .descripciongaleria {
      font-size: xx-small;
      text-align: justify; 
    }
  }
}


