@use "variables" as v;

/* HEADER */


header{
.logocentrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    width: 250px; 
    animation: rebote 2s infinite;
}

.navegacion {
  
  display: flex;       
  justify-content: center;
  gap: 10px;         
}

.navegacion li {
  display: inline-block; 
  perspective: 600px;

  a {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background: rgb(21, 226, 117);
    border-radius: 5px;
    transition: transform 0.5s, background 0.5s;
    transform-style: preserve-3d;
  }

  a:hover {
    transform: rotateY(360deg);
    background: blueviolet;
  }
}


.paginaactual {
    color: v.$color-paginaactual;
}


@keyframes rebote {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }
    40% {
    transform: translateY(-20px); 
    }
    60% {
    transform: translateY(-20px); 
    }
}
}


@include v.mobile {
  header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 10px 0;
    position: static;
  }

  header .logo {
    order: 1;
    margin-bottom: 5px;
  }

  header .titulo,
  header .titulocontacto {
    order: 2;
    margin-bottom: 10px;
  }

  nav, header .navegacion {
    order: 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    position: static;
    margin-top: 10px;
  }

  nav li {
    list-style: none;
  }

  nav li a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #000;
  }
}



  .juegosindex article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }



