
$color-p: rgb(31, 12, 77);
$color-h1: rgb(21, 226, 117);
$color-h2: rgb(65, 176, 180);
$color-h3: blueviolet;
$color-tituloindex: rgb(65, 176, 180);
$color-paginaactual: rgb(21, 226, 117);

// letras
$fuente-principal: 'Yoster', sans-serif;
$fuente-parrafos: 'Super Sunkissed', sans-serif;
$tamano-tituloindex: xx-large;
$fuente-nav: 'Bellavoir', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@mixin mobile{
    @media (max-width: 435px){
        @content;
    }
}

%flr{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
}

%flc{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}